## :tada: **Request received**

The request has been received. The details extracted from the issue are shown below.
Processing will continue based on this information.

<!--prettier-ignore-start-->
<!--markdownlint-disable MD034-->

### Request Summary

| Field | Value |
| ---- | --- |
| GitHub Username | `{{issue.github_username}}` |
| Email Address | `{{issue.email}}` |
| Role | `{{issue.role.[0]}}` |
{{#if issue.reason}}
| Request Reason | {{{newlines issue.reason}}} |
{{else}}
| Request Reason | _Not provided_ |
{{/if}}

### Teams to Add

{{{linesToMarkdownTable issue.teams "Team" "_Not specified_"}}}

{{#if issue.confirmation.selected.length}}
### Confirmation

{{#each issue.confirmation.selected}}
- {{this}}
{{/each}}
{{/if}}

<!--prettier-ignore-end-->
<!--markdownlint-enable MD034-->
